[Unit]
Description=Vector hardware HTTP and WebSocket API
After=mount-data.service storage-mount.service connman.service network.target
Wants=connman.service network.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c '/usr/sbin/export-gpio 94 && /usr/sbin/export-gpio 0 && sleep 0.1 && echo 0 > /sys/class/gpio/gpio94/value && echo 1 > /sys/class/gpio/gpio0/value && sleep 0.1 && echo 1 > /sys/class/gpio/gpio94/value'
ExecStart=/usr/bin/vector-hw-api --listen 0.0.0.0:8080
ExecStopPost=/usr/bin/vector-hw-api --stop-motors
Restart=on-failure
RestartSec=1

[Install]
WantedBy=vector-hw.target
